* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --dark: #181b26;
}

body {
    color: black;
    font-family: Helvetica, Arial, sans-serif;
    background-color: #ebe4da;
}

/* Header Start */

header {
    padding: 10px 25px;
    background-color: rgb(63, 63, 63);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: rgb(63, 63, 63);
    margin: 0;
}

header a {
    text-decoration: none;
    color: #fff;
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 1.5vw;
}

/* Header End */

/* Footer Start */

footer {
    background: rgb(63, 63, 63);
    width: 100%;
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    color: #fff;
}

footer h2 {
    color: #fff;
    font-size: 20px;
    margin: 0;
}

/* Footer End */

/* Hero Start */

.hero {
    background-image: url("../assets/images/pexels-matt-hardy-3560136.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.hero-cta {
    width: 35%;
    text-align: center;
    margin: 3.5%;
    color: #fff;
    font-size: 18px;
    line-height: 1.3;
}

/* About me Section */

.intro img {
    max-width: 20%;
}

.horiseon img {
    max-width: 20%;
}

.run-buddy img {
    max-width: 20%;
}

.contact-me nav {
    margin: 7px 0;
}

.contact-me nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.contact-me nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 1.5vw;
}